.success {
  background: rgba(13, 24, 37, 0.8) !important;
  color: #f8f0e3 !important;
  margin: 55px;
  border-radius: 5px;
  font-size: 12;
}
.close {
  padding: 4px;
}
.error {
  background: #d13232 !important;
  font-size: 12px;
}

.info {
  background: #fff !important;
  color: #0a2540 !important;
  font: normal normal 300 17px/30.5px Helvetica, sans-serif;
  text-align: center;
}
.message {
  display: flex;
  align-items: center;
}
.iconVariant {
  margin-right: 10px;
}
.icon {
  font-size: 20px;
}
