:root {
  /* Colors: */
  --primary: #0d1825;
  --light: #ffffff;
  --black: #000000;
  --secondary: #30133d;
  --purple-light: #e6fdef;
  --purple-dark: #151512;
  --text-color: #757575;
  --primary-font: Helvetica, "sans-serif";
  --secondary-font: Inter, sans;
}
html,
body {
  padding: 0;
  margin: 0;
  font: normal normal 400 16px/1.5 Helvetica, Inter, -apple-system,
    BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif !important;
  height: 100%;
}

html {
  scroll-behavior: smooth;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 7px;
  height: 2px;
}
/* The grabbable scrollbar button  */
html::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

/* The vertical scrollbar background */
html::-webkit-scrollbar {
  width: 7px;
  height: 2px;
}
/* The grabbable scrollbar button  */
html::-webkit-scrollbar-thumb {
  background: var(--primary);
  border-radius: 30px;
  box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, 0.25),
    inset -2px -2px 2px rgba(0, 0, 0, 0.25);
}

/* The vertical scrollbar background */
html::-webkit-scrollbar-track {
  background: #d1dadd;
}
input::-webkit-inner-spin-button,
input::-webkit-clear-button {
  display: none;
}

input::-webkit-calendar-picker-indicator:hover {
  color: #757575;
  cursor: pointer;
}

::-webkit-calendar-picker-indicator {
  background: url("/images/svgs/calender-alt.svg") no-repeat right #f3f2f0;
  -webkit-appearance: none;
  background-position: right 0px top 50%;
}

/* ::-webkit-textfield-decoration-container { } */
::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}
::-ms-reveal {
  display: none;
}
::-moz-placeholder {
  color: #757575;
  font-family: var(--primary-font);
}

.line {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #efefef;
  margin: 4px 0;
}
.swiper-container {
  width: 280px;
}
@media screen and (min-width: 640px) {
  .swiper-container {
    width: 640px;
  }
}
@media screen and (min-width: 768px) {
  .swiper-container {
    width: 768px;
  }
}
@media screen and (min-width: 960px) {
  .swiper-container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .swiper-container {
    width: 1200px;
  }
}

.swiper-wrapper {
  padding-inline-start: 0;
}

#thumbs.swiper-container {
  margin-bottom: 20px;
}

#thumbs .swiper-slide {
  cursor: pointer;
}
.chart-container .recharts-y-axis .recharts-label {
  text-anchor: start;
  transform: translate(-100%, 0);
}
.lg-text-color {
  background-image: linear-gradient(
    90deg,
    rgba(255, 43, 115, 1) 43.1638%,
    rgba(18, 30, 47, 1) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.video-container {
  position: relative;
  width: 100%;
}

.video-container video {
  width: 100%;
  display: block;
  cursor: pointer;
}

.play-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}
.why-peerlearning {
  background-image: linear-gradient(
    90deg,
    rgba(255, 43, 115, 1) 43.1638%,
    rgba(255, 108, 53, 1) 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.about-us {
  background-image: linear-gradient(
    rgba(228, 78, 36, 1) 10% 2%,
    #f70b58 100% 100%
  );
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
.global-team {
  background-image: linear-gradient(
    99deg,
    #ff2b73 0%,
    #ec2a6d 0.01%,
    #fff 38.02%,
    #fff 86.98%,
    #b2255a 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}
